certifi==2019.11.28
chardet==3.0.4
Click==7.0
docformatter==1.3.1
Flask==1.1.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pkg-resources==0.0.0
requests==2.22.0
SQLAlchemy==1.3.11
untokenize==0.1.1
urllib3==1.25.7
Werkzeug==0.16.0
WTForms==2.2.1
