{% extends "base.html" %}


{%block title%}
    <title>ACM Ivanovo|Главная</title>
{%endblock%}

{%block add_contest%}
<form name="contest" method="POST">
    <input type="text" name="contestId" placeholder="ID контеста">
    <input type="submit" value="Добавить контест">
</form>
{%endblock%}

{%block  main%}
    <table class="table">
        <thead>
            <tr>
            <th>#</th>
            <th>Название контеста</th>

            </tr>
        </thead>
        <tbody>

            {%for contest in Contests%}
                <tr>
                <th scope="row"> {{ loop.index }} </th>
                <td><a href = "/contest/{{ contest.contestId }}"> {{ contest.name }} </a></td>
                </tr>
            {%endfor%}
            
        </tbody>
    </table>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div style="position: absolute; top: 0; right: 0;">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

{%endblock%}