{% extends "base.html" %}

{%block title%}
    <title>ACM Ivanovo|Главная</title>
{%endblock%}

{%block  main%}
    <table class="table">
        <thead>
            <tr>
            <th>#</th>
            <th>Название контеста</th>

            </tr>
        </thead>
        <tbody>

            {%for contest in Contests.query.all()%}
                <tr>
                <th scope="row"> {{ loop.index }} </th>
                <td><a href = "/contest/{{ contest.id }}"> {{ contest.name }} </a></td>
                </tr>
            {%endfor%}
            
        </tbody>
    </table>
{%endblock%}