{% extends "base.html" %}


{%block title%}
    <title>Главная | ACM Ivanovo</title>
{%endblock%}

{%block add_contest%}
    {% if current_user.role != "User" %}
        <form name="contest" method="POST">
            <input type="text" name="id" placeholder="ID контеста">
            <input type="submit" value="Добавить контест">
        </form>
    {% endif %}
{%endblock%}

{%block  main%}
    <table class="centered table table-bordered mt-5" color = "white">
        <thead>
            <tr>
            <th>#</th>
            <th>Название контеста</th>
            {% if current_user.role != "User" %} 
                <th>Настройки</th>
            {% endif %}
            </tr>
        </thead>
        <tbody>

            {%for contest in Contests%}
                <tr>
                <th scope="row"> {{ loop.index }} </th>
                <td><a href = "/contest/{{ contest.id }}"> {{ contest.name }} </a></td>
                {% if current_user.role != "User" %} 
                    <td width = "100px">
                        <div margin = "10px">
                            <a href = "/deleteContest?id={{ contest.id }}" title="Удалить"> <img src="https://image.flaticon.com/icons/png/512/32/32178.png", alt = "Удалить" height="20px" width="20px">  </a>
                        </div>
                    </td>
                {% endif %}
                </tr>
            {%endfor%}
            
        </tbody>
    </table>

{%endblock%}