{% extends "base.html" %}

{%block title%}
    <title>ACM Ivanovo|Участники</title>
{%endblock%}


{%block add_user%}
<form name="contest" method="POST">
    <input type="text" name="handle" placeholder="Хендл">
    <input type="text" name="name" placeholder="Имя">
    <input type="submit" value="Добавить участника">
</form>
{%endblock%}

{%block  main%}
<table class="table">
    <thead>
        <tr>
        <th>#</th>
        <th>Хендл</th>
        <th>Имя</th>
        </tr>
    </thead>
    <tbody>

        {%for user in Users.query.all()%}
            <tr>
            <th scope="row"> {{ loop.index }} </th>
            <td><a href = "https://codeforces.com/profile/{{user.handle}}">{{user.handle}}</a></td>
            <td>{{user.name}}</td>
            </tr>
        {%endfor%}

    </tbody>
</table>
{%endblock%}
