{% extends "base.html" %}


{%block title%}
    <title>Участники | ACM Ivanovo</title>
{%endblock%}


{%block  main%}
<table class="centered table table-bordered mt-5">
    <thead>
        <tr>
        <th>#</th>
        <th>Логин</th>
        <th>Имя</th>
        </tr>
    </thead>
    <tbody>
        
        {%for user in users%}
            <tr>
            <th scope="row"> {{ loop.index }} </th>
            <td><a href = "profile/{{ user.login }}" class="text-decoration-none rank{{ rank }}">{{ user.login }}</a></td>
            <td>{{user.name}}</td>
            </tr>
        {%endfor%}

    </tbody>
</table>

{%endblock%}
