{% extends "base.html" %}


{%block title%}
    <title>Участники | ACM Ivanovo</title>
{%endblock%}


{%block  main%}
<table class="centered table table-bordered mt-5">
    <thead>
        <tr>
        <th>#</th>
        <th>Логин</th>
        <th>Имя</th>
        {% if current_user.role != "User" %} 
            <th>Настройки</th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
        
        {%for user in users%}
            <tr>
            <th scope="row"> {{ loop.index }} </th>
            <td><a href = "profile/{{ user.login }}" class="text-decoration-none rank{{ rank }}">{{ user.login }}</a></td>
            <td>{{user.name}}</td>
            {% if current_user.role != "User" %} 
                <td width = "70px">
                    <div margin = "10px">
                        <a href = "/deleteUser?id={{user.id}}" title="Удалить"> <img src="https://image.flaticon.com/icons/png/512/32/32178.png", alt = "Удалить" height="20px" width="20px">  </a>
                    </div>
                </td>
            {% endif %}
            </tr>
        {%endfor%}

    </tbody>
</table>

{%endblock%}
